aws_region         = "ap-northeast-2"
project_name       = "myflix"
environment        = "prod"

# Safety guard:
# Keep false in repository state.
# Set true only when intentionally running terraform plan/apply.
enable_iac_apply   = false

node_instance_types = ["t3.large"]
node_desired_size   = 2
node_min_size       = 2
node_max_size       = 5

db_instance_class    = "db.t4g.micro"
db_allocated_storage = 30
db_multi_az          = false

domain_name = "myflix.example.com"
